h3 {
  text-align: center;
}


.App-logo {
  display: block;
  margin: 0 auto;
  width: 200px;
}

.CreditCardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}